:host {
    <!-- Etiquette énergie -->
    --dpe-etiquette-energie-a-color: #00A06D;
    --dpe-etiquette-energie-b-color: #52B153;
    --dpe-etiquette-energie-c-color: #A5CC74;
    --dpe-etiquette-energie-d-color: #F4E70F;
    --dpe-etiquette-energie-e-color: #F0B40F;
    --dpe-etiquette-energie-f-color: #EB8235;
    --dpe-etiquette-energie-g-color: #D7221F;

    <!-- Etiquette climat -->
    --dpe-etiquette-climat-a-color: #A4DBF8;
    --dpe-etiquette-climat-b-color: #8CB4D3;
    --dpe-etiquette-climat-c-color: #7792B1;
    --dpe-etiquette-climat-d-color: #606F8F;
    --dpe-etiquette-climat-e-color: #4D5271;
    --dpe-etiquette-climat-f-color: #393551;
    --dpe-etiquette-climat-g-color: #281B35;

    <!-- Performance par élément -->
    --dpe-performance-1-color: #2CAF85;
    --dpe-performance-2-color: #A5CC74;
    --dpe-performance-3-color: #F49838;
    --dpe-performance-4-color: #E52322;
}
